---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import { SOCIAL_LINKS } from "../constants/socials"
---

<Layout>
    <Header routes={[
        { url: "#", text: "Home" },
        { url: "#projects", text: "Projects",  },
    ]} />
    <main>
        <Hero
            title="Backend Developer"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            links={[
                { url: "/projects", text: "View my work", linkType: "primary" },
                { url: "/contact", text: "Get in touch", linkType: "secondary" }
            ]}
            socials={SOCIAL_LINKS}
        />
        <Projects />
    </main>
    <Footer
        sections={[
            {
                name: 'More repositories',
                links: [
                    { text: 'Jkutkut', url: 'https://github.com/jkutkut' },
                    { text: 'JkutkutOrg', url: 'https://github.com/jkutkutOrg' },
                    { text: 'JkutkutArchive', url: 'https://github.com/jkutkutArchive' },
                ],
            },
            {
                name: 'Say hi',
                links: [
                    { text: 'LinkedIn', url: 'https://linkedin.com/in/jkutkut' },
                    { text: 'jorgeregonzalezwork@gmail.com', url: 'mailto:jorgeregonzalezwork@gmail.com' },
                ],
            }
        ]}
        socials={SOCIAL_LINKS}
    />
</Layout>
