---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
    <Header routes={[
        { url: "/", text: "Home" },
    ]} />
    <main>
        <Hero
            title="Backend Developer"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            links={[
                { url: "/projects", text: "View my work", linkType: "primary" },
                { url: "/contact", text: "Get in touch", linkType: "secondary" }
            ]}
        />
        <Projects />
    </main>
    <Footer />
</Layout>
