---
import { getCollection } from "astro:content";
import LinkBtn from "./LinkBtn.astro";
import Project from "./Project.astro";
import { LinkTarget, type RepoData } from "../types";

const repos = await getCollection("highlights");
---

<section id="projects" class="projects">
  <h2>Pinned projects</h2>
  <div class="projects-list">
    {
      repos
        .map((repo) => <Project repo={repo.data as RepoData} />)
    }
  </div>
  <div class="view-all">
    <LinkBtn
      link={{
        url: "/repos",
        text: "View all repositories",
      }}
      target={LinkTarget.Self}
    />
  </div>
</section>

<style>
.projects-list {
  display: grid;
  gap: 1rem;
}
</style>
